/**
**  颜色收集集合 (不直接设置业务样式)
**  Created on 2017-10-27 by Cara
**/

$blue: #3498db;
$dark-default: #7f8c8d;
$light-red: #d93a49;
$red: #d71345;
$dark-red: #b22c46;
$orange: #f47920;
$yellow: #ffd400;
$pink: #f7acbc;
$dark-yellow: #ffc20e;
$purple: #9b59b6;
$light-blue: #77d5d4;
$dark-blue: #2980b9;
$roseate: #f05b72;
$green: #2ecc71;
$light-green: #52be7f;
$dark-green: #27ae60;
$light-gray: #E5E9F2;
$brown: #843900;
$sliver: #8492A6;
$light-sliver: #99A9BF;
$light-black: #324057;
$black: #130c0e;
$white: #fffffb;
$gray: #D3DCE6;
$masstone: #798f9a;
$tr: transparent;
$light-default: #c1c1c1;
$default: #95a5a6;
$default2: #333742;
$font-color: #334455;
$font-color1: $default2;
$bg-color: $light-gray;
$bg-color1: #f2f5f9;
$bg-color2: #f0f0f0;
$light-shadow: 0 0 3px 1px rgba(0, 0, 0, .36);
$shadow: 0 0 5px 3px rgba(0, 0, 0, .16);
$dark-shadow: 0 0 5px 3px rgba(0, 0, 0, .16);
// 颜色集合
$colors: (roseate $roseate 50%),
(masstone $masstone 30%),
(light-default $light-default 10%),
(default $default 20%),
(default2 $default2 60%),
(light-red $light-red 40%),
(red $red 40%),
(dark-red $dark-red 40%),
(light-blue $light-blue 20%),
(blue $blue 25%),
(dark-blue $dark-blue 20%),
(yellow $yellow 25%),
(light-green $light-green 20%),
(green $green 20%),
(dark-green $dark-green 20%),
(light-black $light-black 40%),
(black $black 50%),
(white $white 0),
(pink $pink 10%),
(orange $orange 30%),
(gray $gray 40%),
(sliver $sliver 20%),
(brown $brown 20%),
(light-gray $light-gray 10%);